@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
}
.section-a {
	min-height: 400px;
	background-image: url(../imgs/slider-2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
header{
	display: inline-block;
	background-color: transparent;
}
	header >div{
		float: right;
		font-size: 1vw;
		padding: 2px;
		margin: 0 20px;
	}
	}
/*HEADER BAR STICKY*/
    /* The sticky class is added to the header with JS when it reaches its scroll position */
 .sticky {
		position: fixed;
		top: 0;
		width: 100%
	  }
  
		  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
		  .sticky + .content {
			padding-top: 102px;
		  }
	.fa {
		padding: 5px 0;
		font-size: 50px;
		width: 50px;
		text-align: center;
		text-decoration: none;
	}
	.fa-phone, .fa-envelope , .fa-map-maker {
		background: transparent;
		color: #2F4F4F;
	}

.navbar{
	height: 40px;
	background-color: #2F4F4F;
}
.nav-link a{
	color: white;
}
.active a{
	color: orange;
}
h2 span{
	color: teal;
	font-size: 12px;
}

footer{
	background-color: #2F4F4F;
}
/*buttons cal and curriculum*/
.visit-btn{
	background-color: transparent;
	border: 3px solid rgb(255, 255, 255);
	border-radius: 2em;
	color: white;
	font-size: 12pt;
	width: 150px;
	margin: 1em 0;
 
}
	.visit-btn p{
		padding: 0;
		margin: auto;
		cursor: pointer;
	}
	.visit-btn:hover{
		background-color: rgb(173, 194, 194);
		color: aliceblue;
	}
/*section-c*/
.section-c{
	background-color: #333;
	color: thistle;
}

.text{
	background-color: teal;
	border-radius: 0.5rem;
	padding: 1em;
	margin: 1em;
	min-height: 300px;
}
.text2{
	background-color: #2F4F4F;
}
.text p {
	padding: 1em;
}
.text ul{
	padding:0 1em;
	margin: 0;
	text-align: left;
}
.text button{
	background-color: transparent;
	
}

/*read more*/
#more{
	display: none;
}
/*section-d*/
.section-d{
	background-color: gray;
}
.section-d p{
	color: #333;
}
.section-d .card{
	width: 300px;
	height: 300px;
	padding: 1em;
	margin: 1em;
	background-image: url('../imgs/card2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: rgba(0, 0, 0, 0.89);
}

 .card p{
	margin: auto;
	padding: 0.5em;
	background-color: rgba(0, 0, 0, 0.685);
	color: aliceblue;

}
.card p span{
	padding: 0.5em;
	font-size: 12pt;
	color: rgb(235, 255, 59);
}